$width-l: 990px;
$width-md: 840px;
$width-xs: 480px;

// Colors
$background: #FCFCFC;
$primary-color: #006992;
$secondary-color: #465C69;
$cta-color: #b75d69;
$primary-text: #010400;
$separator: #6f6f6fd1;
